body{
    background-color: #f9f9f9;
     
}
.home {
    background-image: url(img/fundo.jpeg);
    background-position: center;
    background-size: cover;/* imagem de fundo para cobrir toda a área do elemento.*/
    height: 100vh;
    
   
}
.home {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
   
} 

.home {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    position: fixed;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: #00000059;
    z-index: 10;
}


/*espaçamento*/
.links {
    margin-left: 30px;
}

.nav-itens {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-itens li {
    display: inline;
    margin-right: 20px;
}


.logo {
    font-weight: 700;
    font-size: 20px;
}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: #ffffff;
    text-decoration: none;
}


.quiz {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #202020;
    background-color: #EFEEEA;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


.nav-itens li a:hover {
    color: #fc007e; 
}

.frase {
    margin-top: 100vh;
    width: 100%;
    height: 100px;
    height: 15vh;
    align-items: center;
    padding-top: 2%;
    background-position: center;
   
}

.frase {
    background-color: #e9e5e5; 
    text-align: center;
}


.frase-text {
    font-size: 1.5rem;
    color: #333; 
    font-style: italic;
    line-height: 1.5;
}


.about {
    padding: 80px 0;
    text-align: center;
    position: relative;
    background-color: #e9e5e5;
}

.about::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 5px;
    background-color: #534739;
    transition: width 0.8s ease;
}

.about:hover::before {
    width: 50%;
    transition-delay: 0.9s; 
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-image {
    margin-bottom: 40px;
}

.about-image img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.about-text {
    max-width: 600px;
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.6;
}


.dot-green{
    background-color: #a3da91; 
} 
.date-green{
    color: #a3da91;
 }

.dot-yellow{
    background-color: #f0b96b;
}
.date-yellow{
    color: #f0b96b;
}

.dot-purple{
    background-color: #BEA7C4;
}

.date-purple{
    color: #BEA7C4;
}

.dot-red{
    background-color: #6D3D46;
}

.date-red{
    color:  #6D3D46;
}

.dot-blue{
    background-color: #C2E2F4;
}

.date-blue{
    color:  #C2E2F4;
}

.dot-black{
    background-color: #000000;
}

.date-black{
    color:  #000000;
}

.dot-pink{
    background-color: #EAB4CC;
}

.date-pink{
    color:  #EAB4CC;
}

.dot-gray{
    background-color: #D1CEC7
}

.date-gray{
    color:  #D1CEC7;
}

.dot-orange{
    background-color: #CC9D83;
}

.date-orange{
    color:  #CC9D83;
}

.dot-darkblue{
    background-color: #464D60;
}

.date-darkblue{
    color:  #464D60;
}

.dot-brown{
    background-color: #49392b;
}

.date-brown{
    color:  #49392b;
}

.timeline-section {
    background-color: #e9e5e5;
    padding: 100px 15px;
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, #60c740, #000000);
    left: calc(50% - 2px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    transition: transform 0.3s ease;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-item:hover {
    transform: translateY(-10px);
}

.timeline-dot {
    height: 20px;
    width: 20px;
    position: absolute;
    left: calc(50% - 10px);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*efeito bolinha p lado, ficar mais p cima*/
.timeline-date {
    font-size: 18px;
    margin: 6px 0 15px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.timeline-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/*efeito bolinha p lado*/   
.timeline-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.timeline-content h3 {
    font-size: 24px;
    color: #333;
    margin: 0 0 15px;
    text-transform: capitalize;
    text-align: center;
}

.timeline-content p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

/* Estilos para a seção da timeline */
.album-info {
    display: flex;
    align-items: center;
}

.album-image {
    max-width: 200px;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album-image:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.album-details {
    flex: 1;
}

.album-details h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Estilos para os pontos e datas */
/* Mantenha os estilos existentes para os pontos e datas */

.about-me {
    padding: 80px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.sobre {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto {
    width: 50%;
    text-align: left;
}

.imagem {
    width: 45%;
    position: relative;
}

.imagem img {
    width: 100%;
    max-width: 400px;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagem a {
    position: absolute;
    bottom: 10px;
    left: 15px;
}


.taylors-version {
    background-color: #e9e5e5;
    padding: 60px 20px;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#tittle-version {
    font-size: 3em;
    color: #c71585; /* Cor personalizada */
    margin-bottom: 30px;
    font-family: 'Georgia', serif;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

#tittle-version::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #c71585;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.text {
    flex: 1 1 45%;
    font-size: 1.2em;
    color: #333;
    line-height: 1.8;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sobre {

    line-height: 2.0; /* Define um bom espaçamento entre linhas */
    font-size: 1.2rem;
}
.sobre h1 {
    font-size: 2em;
    margin-bottom: 10px;
    line-height: 1.2; /* Define um espaçamento mais compacto para títulos */
}
.sobre p {
    margin-bottom: 20px;
}
.text:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.images-version {
    flex: 1 1 45%;
    display: grid;
    gap: 20px;
}

.images-version img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.images-version img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .text, .images-version {
        flex: 1 1 100%;
    }

    .images-version {
        grid-template-columns: 1fr;
    }
}

.about-me{
background-color: #e9e5e5;
}
.video-section {
    background: linear-gradient(135deg, #e9e5e5 0%, #f7f3f3 100%);
    padding: 60px 20px;
}

#tittle-video {
    font-size: 3em;
    color: #c71585;
    margin-bottom: 30px;
    font-family: 'Georgia', serif;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-wrapper:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.video-wrapper iframe {
    width: 100%;
    max-width: 880px;
    height: 467px;
    border: none;
    border-radius: 10px;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}
footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.1rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}


#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.timeline-item {
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.onu {
    padding: 20px;
    background-color: #e9e5e5;
}

.interface {
    max-width: 1200px;
    margin: 0 auto;
}

.onu-titulo {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.onu-titulo span {
    color: #007bff; /* Altere para a cor desejada */
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contexto-onu {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    text-align: center;
}

.contexto-onu:hover {
    transform: translateY(-10px);
}

.contexto-onu i {
    font-size: 2em;
    color: #007bff; /* Altere para a cor desejada */
    margin-bottom: 10px;
}

.contexto-onu h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contexto-onu p {
    font-size: 1em;
    color: #333;
    text-align: center;
}
